@import "./components/footer.css";
@import "./components/header.css";
@import "./components/main.css";

/* -------------------------------------------------------- */
/* Global Styles */
/* -------------------------------------------------------- */

* {
  font-family: "Hellix TRIAL";
  box-sizing: border-box;
  background-color: var(--color-bg);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

:root {
  --color-primary: #4b164c;
  --color-secondary: #dd88cf;
  --color-bg: #fdf7fd;
  --color-txt: #22172a;
}
