@import "./components/footer.css";
@import "./components/header.css";
@import "./components/card.css";
@import "./components/form.css";
@import "./components/toggle.css";
@import "./components/bookmarks.css";
@import "./components/profile_card.css";

/* -------------------------------------------------------- */
/* Global Styles */
/* -------------------------------------------------------- */

* {
  font-family: "Gravity";
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-txt-title);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 40px 40px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 50px;
}

:root {
  --color-primary: #ebff57;
  --color-secondary: #4e561f;
  --color-tertiary: #d4e64e;
  --color-bg: #1a1a1a;
  --color-txt-title: #ffffff;
  --color-txt-body: #1a1a1a;
}
