.card img {
  display: block;
  margin-left: auto;
  border: none;
  align-self: end;
  background-color: var(--color-tertiary);
  border-radius: 40px;
}

.card img:hover {
  background-color: #c2d81f;
}
