.card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: var(--color-primary);
  color: var(--color-txt-body);
  border-radius: 32px;
  padding: 20px 20px 24px 24px;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.card__bookmark {
  border: none;
  background-color: var(--color-primary);
  align-self: end;
}

.card__answer {
  font-size: px;
  font-style: italic;
  color: var(--color-secondary);
  margin-top: 0;
  display: none;
}

.card__tags {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.card__tag {
  background-color: var(--color-tertiary);
  color: var(--color-txt-body);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
}

.card__cta-button {
  align-self: flex-end;
  background-color: var(--color-bg);
  color: var(--color-txt-title);
  border: none;
  border-radius: 32px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
}

.card__cta-button:hover {
  background-color: var(--color-secondary);
}
