form {
  background-color: var(--color-primary);
  color: var(--color-txt-body);
  border-radius: 40px;
  padding: 24px 20px 24px 25px;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  padding: 0px 0px 20px 0px;
}

textarea {
  color: var(--color-txt-body);
  width: 100%;
  border-radius: 12px;
  padding: 8px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  resize: none;
}

textarea:focus {
  border-color: #829034;
  border-width: 2px;
  outline: none; /* Removes the default focus outline */
}

.submit-button {
  align-self: flex-end;
  background-color: var(--color-bg);
  color: var(--color-txt-title);
  border: none;
  border-radius: 32px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  width: 100%;
}

.remaining-characters-question {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 12px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 20px;
}

.remaining-characters-answer {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 12px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 20px;
}

.user-tag {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

input {
  color: var(--color-txt-body);
  padding-left: 8px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  height: 32px;
  margin-bottom: 15px;
}

input:focus {
  border-color: #829034;
  border-width: 2px;
  outline: none;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-secondary);
}

.userTag {
  background-color: var(--color-tertiary);
  color: var(--color-txt-body);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  max-width: fit-content;
}
